.companies {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;

	&-waitlist {
		width: 90%;
		margin: 0 auto;
		text-align: center;
		//height: 100vh;
	}

	&-header {
		display: flex;
		justify-content: space-around;
		align-items: center;
		padding: 120px 0 5rem 0;
		display: none;

		@media screen and (max-width: 500px) {
		}
	}

	&-viewIcons {
		display: flex;
		gap: 1rem;

		svg {
			color: grey;
			cursor: pointer;
			font-size: 2rem;
		}
	}

	&-list {
		display: flex;
		flex-wrap: wrap;
		gap: 1rem;

		article {
			background: #ddd;
			//color: #fff;
		}
	}

	&-content {
		width: 90%;
		margin: 0 auto;
		height: 100vh;
		padding-top: 120px;
	}
}
