.companies {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;

	&-waitlist {
		width: 90%;
		margin: 0 auto;
		text-align: center;
		//height: 100vh;
	}

	&-header{
		display: flex;
		justify-content: space-around;
		align-items: center;
		padding: 120px 0 5rem 0;
	}
}
