@mixin flexlayout {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.nav {
	position: fixed;
	top: 0;
	width: 100%;
	//padding: 2rem 0;
	transition: 1s ease;

	&-ctn {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 0 2rem;
		width: 90%;
	}

	&-scrollBg {
		background-color: #000;
		//background: radial-gradient(black, transparent);
		color: #fff
	}

	&-logo {
		@include flexlayout;

		&-link {
			text-decoration: none;
			font-family: 'Damion', cursive;
			font-size: 28px;
			color: #000;

			&.scroll{
				color: #fff;
			}
		}

		&-companies{
			text-decoration: none;
			color: #000;
			cursor: pointer;
			padding-top: 1rem;
		}
	}

	&-action {
		@media screen and (max-width: 768px) {
			display: none;
		}

		@media screen and (min-width: 768px) {
			@include flexlayout;
		}
		a {
			text-decoration: none;
			color: #000;
			cursor: pointer;
		}

		&-signin {
			border: 1px solid #000;
			border-radius: 50px;
			padding: 0.5rem 1rem;
			
			&.scrollColor{
				border: 1px solid #fff;
				color: #fff;

			}
		}
	}

	&-mobile {
		@media screen and (min-width: 768px) {
			display: none;
		}

		&-links {
			position: absolute;
			background-color: #000;
			width: 100%;
			height: 50vh;
			right: 0;
			top: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			// transition
			transition: transform ease-in-out 1s;
			transform-origin: right;
			transition-delay: 0.1s;

			&.hide {
				transform: translateY(-110%);
				left: 0;
				bottom: 0;
			}

			ul {
				display: flex;
				justify-content: space-between;
				flex-flow: column;
				height: 50%;
				list-style: none;
				align-items: center;
			}

			a {
				color: #fff;
				text-decoration: none;
				cursor: pointer;
				list-style-type: none;

				&:hover {
					color: #9c5a5a;
				}
			}
		}

		&-close {
			position: absolute;
			top: 1rem;
			right: 1rem;
		}
	}
}
